/* -----------------------------------------------------------------------------
 *
 * Mixins: Icons
 *
 * ----------------------------------------------------------------------------- */

@define-mixin adminicon {
	font-family: var(--t-font-family-admin-icons) !important;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}
