$icomoon-font-family: "gflow-icons-common" !default;
$icomoon-font-path: "fonts" !default;

$gflow-icon--chained-selects: "\e91a";
$gflow-icon--credit-card: "\e978";
$gflow-icon--design: "\e979";
$gflow-icon--name-2: "\e97a";
$gflow-icon--notifications-active: "\e97b";
$gflow-icon--password: "\e97c";
$gflow-icon--user: "\e97d";
$gflow-icon--format-quote: "\e900";
$gflow-icon--quantity: "\e901";
$gflow-icon--accessibility: "\e902";
$gflow-icon--tools: "\e97f";
$gflow-icon--renew: "\e980";
$gflow-icon--active-campaign: "\e903";
$gflow-icon--advanced-post-creation: "\e904";
$gflow-icon--agile-crm: "\e905";
$gflow-icon--analytics: "\e906";
$gflow-icon--api: "\e907";
$gflow-icon--authorize-dot-net: "\e908";
$gflow-icon--aweber: "\e909";
$gflow-icon--back: "\e90a";
$gflow-icon--body: "\e90b";
$gflow-icon--breeze: "\e90c";
$gflow-icon--campaign-monitor: "\e90d";
$gflow-icon--capsule: "\e90e";
$gflow-icon--category: "\e90f";
$gflow-icon--check-box: "\e910";
$gflow-icon--check: "\e983";
$gflow-icon--chevron: "\e911";
$gflow-icon--clever-reach: "\e912";
$gflow-icon--cog: "\e913";
$gflow-icon--settings: "\e986";
$gflow-icon--color-pallet: "\e914";
$gflow-icon--campaign: "\e984";
$gflow-icon--consent: "\e915";
$gflow-icon--constant-contact: "\e916";
$gflow-icon--coupon: "\e917";
$gflow-icon--coupon-alt: "\e918";
$gflow-icon--create: "\e919";
$gflow-icon--question-mark: "\e97e";
$gflow-icon--date: "\e91b";
$gflow-icon--delete: "\e91c";
$gflow-icon--trash: "\e985";
$gflow-icon--dollar: "\e91d";
$gflow-icon--drag-indicator: "\e91e";
$gflow-icon--drag: "\e91f";
$gflow-icon--dropbox: "\e920";
$gflow-icon--dropdown: "\e921";
$gflow-icon--duplicate: "\e922";
$gflow-icon--ellipsis: "\e923";
$gflow-icon--embed: "\e925";
$gflow-icon--entries: "\e927";
$gflow-icon--excerpt: "\e928";
$gflow-icon--flag: "\e929";
$gflow-icon--flag-alt: "\e92a";
$gflow-icon--format-quote1: "\e92c";
$gflow-icon--gravity-logo: "\e92f";
$gflow-icon--gravity-pdf: "\e930";
$gflow-icon--help: "\e931";
$gflow-icon--helpscout: "\e932";
$gflow-icon--hidden: "\e933";
$gflow-icon--how-to-reg: "\e934";
$gflow-icon--html-code: "\e935";
$gflow-icon--hubspot: "\e936";
$gflow-icon--icontact: "\e937";
$gflow-icon--info-outline: "\e938";
$gflow-icon--info: "\e939";
$gflow-icon--link: "\e93b";
$gflow-icon--list: "\e93c";
$gflow-icon--mail: "\e93e";
$gflow-icon--mailgun: "\e940";
$gflow-icon--merge-tag: "\e941";
$gflow-icon--minus: "\e942";
$gflow-icon--minus-regular: "\e981";
$gflow-icon--misc: "\e943";
$gflow-icon--monetization-on: "\e945";
$gflow-icon--multi-select: "\e946";
$gflow-icon--name: "\e947";
$gflow-icon--numbers-alt: "\e948";
$gflow-icon--numbers: "\e949";
$gflow-icon--st-circle: "\e94a";
$gflow-icon--page: "\e94b";
$gflow-icon--paragraph-text: "\e94c";
$gflow-icon--password1: "\e94d";
$gflow-icon--paypal: "\e94e";
$gflow-icon--phone: "\e94f";
$gflow-icon--place: "\e950";
$gflow-icon--st-plus: "\e951";
$gflow-icon--plus-regular: "\e982";
$gflow-icon--pointer: "\e952";
$gflow-icon--polls: "\e953";
$gflow-icon--poll-alt: "\e954";
$gflow-icon--poll: "\e955";
$gflow-icon--post-image: "\e956";
$gflow-icon--post-custom-field: "\e957";
$gflow-icon--postmark: "\e958";
$gflow-icon--product: "\e959";
$gflow-icon--question: "\e95a";
$gflow-icon--quiz: "\e95b";
$gflow-icon--radio-button: "\e95c";
$gflow-icon--recaptcha: "\e95d";
$gflow-icon--search: "\e95e";
$gflow-icon--section: "\e95f";
$gflow-icon--sendgrid: "\e960";
$gflow-icon--single-line-text: "\e963";
$gflow-icon--style: "\e967";
$gflow-icon--survey: "\e968";
$gflow-icon--tags: "\e969";
$gflow-icon--time: "\e96a";
$gflow-icon--title: "\e96b";
$gflow-icon--total: "\e96c";
$gflow-icon--twilio: "\e96e";
$gflow-icon--upload: "\e96f";
$gflow-icon--verified: "\e970";
$gflow-icon--videopipe: "\e971";
$gflow-icon--vote: "\e972";
$gflow-icon--warning-amber: "\e973";
$gflow-icon--warning: "\e974";
$gflow-icon--webhooks: "\e975";
$gflow-icon--zapier: "\e976";
$gflow-icon--zoho: "\e977";
$gflow-icon--gravityflow-icon: "\41";

