.gflow-inbox {
	padding: 0;
	width: 100%;
}

.gform-flyout--inbox-settings {

	.gform-flyout__setting--poll-freq {
		width: 6.25rem;
	}
}

.gflow-grid__header {
	align-items: center;
	background: var(--c-white);
	border: 1px solid var(--ag-border);
	border-bottom: 0;
	display: flex;
	height: 60px;
	padding: 0 18px;
	width: 100%;
}

.gflow-inbox__search {
	max-width: calc(100% - 50px);
	width: 300px;
}
