/* -----------------------------------------------------------------------------
 *
 * Grids
 *
 * This directory contains custom css specific to each of the grids
 * (inbox, status etc).
 * Shared css goes in the _grid.pcss file found in common/components
 *
 * This file is just a clearing-house.
 * Make partials (start with an underscore) elsewhere for actual code.
 *
 * ----------------------------------------------------------------------------- */

@import "./_inbox.pcss";
