@define-mixin list-columns $colcount {
	display: grid;
	grid-column-gap: 2rem;
	-ms-grid-columns: (1fr) [ $colcount ];
	grid-template-columns: repeat($colcount, 1fr);
	grid-template-rows: repeat(auto-fill, auto);
}

@define-mixin list-columns-vertical $colcount {
	column-count: $colcount;
	grid-column-gap: 2rem;
}
